.columnLeft {
  display: flex;
  flex-direction: column;
  // justify-content: center;

  align-items: flex-start;
  line-height: 1.4;
  padding: 1rem 2rem;
}

.columnLeft h1 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #e2133a;
}

.columnLeft p {
  margin-bottom: 2rem;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 10px;
}

.columnRight {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnRight img {
  width: 100%;
  height: 75%;
  object-fit: cover;

  @media screen and (max-width: 768px) {
    width: 90%;
    height: 90%;
  }
}

.about_container {
  padding: 3rem calc((100vw - 1300px) / 2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.about_section {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 769px) and (max-width: 915px) {
  .columnLeft p {
    margin-top: 10px;
  }
  .about_container {
    grid-template-columns: 1.1fr 1fr;
  }

  .columnLeft p {
    font-size: 19px;
  }
}

@media screen and (min-width: 340px) and (max-width: 450px) {
  .columnLeft p {
    font-size: 17px;
  }
  
}
