  @import 'header.scss';
  @import 'home.scss';
  @import 'about.scss';
  @import 'trainings.scss';
  @import 'trainers.scss';
  @import 'footer.scss';
  @import 'training.scss';
  @import 'Contact.scss';
  @import 'hygiene.scss';
 @import 'gallery.scss';

 @import 'Button.scss';
 @import 'Cards.scss';
 @import 'HeroSection.scss';
 @import 'Navbar.scss';
 @import 'App.scss';