.columnLeft_training {
  display: flex;
  flex-direction: column;
  // justify-content: center;

  align-items: flex-start;
  line-height: 1.4;
  padding: 1rem 2rem;
}

.columnLeft_training h1 {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  color: #e2133a;
}

.columnLeft_training p {
  margin-bottom: 2rem;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 10px;
}

.columnRight_training {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.columnRight_training img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  margin-top: -220px;

  @media screen and (max-width: 768px) {
    width: 90%;
    height: 90%;
  }
}

.about_container_training {
  padding: 3rem calc((100vw - 1300px) / 2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.about_section {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1068px) and (max-width: 1246px) {
  .about_container_training {
    grid-template-columns: 1.4fr 1fr;
  }
}

@media screen and (min-width: 1010px) and (max-width: 1080px) {
  .about_container_training {
    grid-template-columns: 1.2fr 1fr;
  }

  .columnLeft_training p {
    font-size: 18px;
  }
}

@media screen and (min-width: 606px) and (max-width: 1010px) {
  .about_container_training {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 420px) and (max-width: 606px) {
  .columnLeft_training p {
    font-size: 16px;
  }
}

@media screen and (min-width: 300px) and (max-width: 420px) {
  .columnRight_training img {
    margin-top: -120px !important;
  }
  .columnLeft_training p {
    font-size: 16px;
  }
}
